<div class="container">
    <section class="section">
        <div class="content">
            <h2 class="content-title">
                Lorem ipsum dolor
                <span class="text-light">aer omet</span> consectetur.
            </h2>
            <p class="content-description">Lorem ipsum dolor sit amet, consectetur
                adipiscing elit ut aliquam, purus sit</p>
        </div>
        <div class="image" [style.background-image]="'url(/assets/Screenshot__517_-removebg-preview-1.svg)'">
        </div>
        <img class="preview-img" src="assets/preview-removebg-preview 1.svg" alt="">
    </section>
    <div class="moon-img" [style.background-image]="'url(/assets/Screenshot__515_-removebg-preview-1.svg)'"></div>
    <div class="satellite-img"
        [style.background-image]="'url(/assets/satellite-on-transparent-background-free-vector-removebg-preview-1.svg)'">
    </div>
</div>