$white-color: rgb(255, 255, 255);
$white-opacity-color: rgba(255, 255, 255, 0.8);
$orange-color: rgb(237, 107, 91);
$light-orange-color: rgb(249, 172, 102);
$dark-opacity-color: rgba(0, 0, 0, 0.95);
$light-color: rgb(245, 245, 245);
$text-gradient-blue: linear-gradient(
  101.73deg,
  #43cea2 0%,
  rgba(84, 147, 210, 0.88) 96.33%
);
$text-gradient-red: linear-gradient(
  82.35deg,
  #eecda3 2.49%,
  rgba(245, 134, 182, 0.88) 101.81%
);
