<div class="container"
    [style.background-image]="'url(/assets/Screenshot_2022-10-15-01-28-37-07_92460851df6f172a4592fca41cc2d2e62.svg)'">
    <nav class="navbar">
        <div class="logo-container">
            <h1 class="logo"><span>Le</span>Bo</h1>
        </div>
        <ul class="nav-lists">
            <li class="nav-list">
                <a href="#" class="nav-link">
                    <img src="/assets/Markets.svg" alt="Markets Icon"> Markets
                </a>
            </li>
            <li class="nav-list">
                <a href="#" class="nav-link">
                    <img src="/assets/swap-white.svg" alt="Swap Icon"> Swap
                </a>
            </li>
            <li class="nav-list">
                <a href="#" class="nav-link">
                    <img src="/assets/Bridge.svg" alt="Bridge Icon"> Bridge
                </a>
            </li>
            <li class="nav-list">
                <a href="#" class="nav-link">
                    <img src="/assets/Staking.svg" alt="Staking Icon"> Staking
                </a>
            </li>
            <li class="nav-list">
                <a href="#" class="nav-link">
                    <img src="/assets/Farm.svg" alt="Farm Icon"> Farm
                </a>
            </li>
            <li class="nav-list">
                <a href="#" class="nav-link">
                    <img src="/assets/Liquidity.svg" alt="Liquidity Icon"> Liquidity
                </a>
            </li>
        </ul>
    </nav>
    <section class="heading">
        <h1 class="heading-title">A Cross-chain Protocol
            Where <span>Trust</span> meets <span>Needs</span></h1>
        <p class="heading-content">Lorem ipsum dolor sit amet, consectetur
            adipiscing elit ut aliquam, purus sit</p>
        <button class="btn-launch" data="launch swap"></button>
    </section>
    <section class="statistics">
        <h2 class="title">Statistics</h2>
        <div class="stats">
            <div class="stats-details">
                <div class="total-value">
                    <p class="sub-title">Total Value Locked (TVL)</p>
                    <p class="price">$1,154,896.54</p>
                </div>
                <div class="total-traded">
                    <p class="sub-title">Total Traded Volume</p>
                    <p class="price">$14,154,896.54</p>
                </div>
                <div class="token-apy">
                    <div class="tokens">
                        <p class="sub-title">Tokens</p>
                        <p class="price">3500+</p>
                    </div>
                    <div class="apy">
                        <p class="sub-title">APY</p>
                        <p class="price">27%</p>
                    </div>
                </div>
            </div>
            <div class="image" [style.background-image]="'url(/assets/Screenshot__517_-removebg-preview-1.svg)'">
            </div>
        </div>
    </section>
    <section class="feature">
        <h2 class="title">Why use LeBo?</h2>
        <div class="token-swap">
            <img src="assets/VectorSwap.svg" alt="Swap">
            <div class="details">
                <h2>Token Swap</h2>
                <p>Lorem ipsum dolor sit ametefeed, consectetur fringilla urna, sekico porttitorLorem ipsum dolor sit
                    dfamet, consectetur adipiscing fi elit ut aliquam, urna, sekico porttitorLorem.</p>
                <button class="btn-launch" data="Launch Swap"></button>
                <ul class="pagination">
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                </ul>
            </div>
        </div>
    </section>
    <section class="networks-container">
        <h2 class="title">Supported Networks</h2>
        <div class="networks">
            <div class="network">
                <img src="assets/ethereum.svg" alt="Ethereum"> Ethereum
            </div>
            <div class="network">
                <img src="assets/polygon.svg" alt="Polygon"> Polygon
            </div>
            <div class="network">
                <img src="assets/avalanche.svg" alt="Avalanche"> Avalanche
            </div>
            <div class="network">
                <img src="assets/fantom.svg" alt="Fantom"> Fantom
            </div>
            <div class="network">
                <img src="assets/bsc.svg" alt="BSC"> BSC
            </div>
            <div class="network">
                <img src="assets/tron.svg" alt="Tron"> Tron
            </div>
            <div class="network">
                <img src="assets/wyzth.svg" alt="Wyzth"> Wyzth
            </div>
            <div class="network">
                <img src="assets/lebo-chain.svg" alt="Lebo Chain"> Lebo Chain
            </div>
        </div>
    </section>
    <section class="clients-container">
        <h2 class="title">Backed by the Best</h2>
        <div class="clients">
            <div class="client">
                <img src="assets/cointelegraph.svg" alt="Cointelegraph"> Cointelegraph
            </div>
            <div class="client">
                <img src="assets/yourstory.svg" alt="YourStory"> YourStory
            </div>
            <div class="client">
                <img src="assets/coindesk.svg" alt="CoinDesk"> CoinDesk
            </div>
        </div>
    </section>
    <hr>
    <footer class="footer">
        <div class="resources">
            <h2>Resources</h2>
            <p>Documentation</p>
            <p>FAQs</p>
            <p>User policy</p>
        </div>
        <div class="product">
            <h2>Product</h2>
            <p>Swap</p>
            <p>Bridge</p>
            <p>Liquidity</p>
            <p>Staking</p>
            <p>Farm</p>
        </div>
        <div class="newsletter">
            <h2>Newsletter</h2>
            <p>Join the most vibrant community of DeFi users and get early access to new features.</p>
            <div class="email-container">
                <input type="text" placeholder="Enter your Email">
                <button type="submit">Submit</button>
            </div>
            <h2 class="community">Community</h2>
            <div class="social-icons">
                <a href="" class="twitter">
                    <fa-icon [icon]="twitter" size="2x"></fa-icon>
                </a>
                <a href="" class="discord">
                    <fa-icon [icon]="discord" size="2x"></fa-icon>
                </a>
                <a href="" class="telegram">
                    <fa-icon [icon]="telegram" size="2x"></fa-icon>
                </a>
                <a href="" class="linkedin">
                    <fa-icon [icon]="linkedin" size="2x"></fa-icon>
                </a>
                <a href="" class="medium">
                    <fa-icon [icon]="medium" size="2x"></fa-icon>
                </a>
            </div>
        </div>
    </footer>
    <div class="copyright">
        <h1 class="logo"><span>Le</span>Bo</h1>
        <p class="text">2022 LeBo. All rights reserved</p>
    </div>
</div>